name: cyriliic
description: A new Flutter project

environment:
  sdk: ">=3.9.0 <4.0.0"

dependencies:
  flutter:
    sdk: flutter
  flutter_blue_plus: ^1.31.0   # Para la comunicación BLE
  audioplayers: ^5.2.1         # Para reproducir los sonidos
  permission_handler: ^11.1.0  # Para solicitar permisos de Bluetooth y localización

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^3.0.1

flutter:
  uses-material-design: true

  assets:
    - assets/images/
    - assets/audio/
